<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Address</servlet-name>
        <servlet-class>com.controllers.Address</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddressController</servlet-name>
        <servlet-class>com.controllers.AddressController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>com.controllers.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerController</servlet-name>
        <servlet-class>com.controllers.CustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>com.controllers.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WeartypeController</servlet-name>
        <servlet-class>com.controllers.WeartypeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddressDao</servlet-name>
        <servlet-class>com.daos.AddressDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryDao</servlet-name>
        <servlet-class>com.daos.CategoryDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerDao</servlet-name>
        <servlet-class>com.daos.CustomerDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDao</servlet-name>
        <servlet-class>com.daos.AdminDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopkeeperController</servlet-name>
        <servlet-class>com.controllers.ShopkeeperController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Address</servlet-name>
        <url-pattern>/Address</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddressController</servlet-name>
        <url-pattern>/AddressController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/CategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerController</servlet-name>
        <url-pattern>/CustomerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/ProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WeartypeController</servlet-name>
        <url-pattern>/WeartypeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddressDao</servlet-name>
        <url-pattern>/AddressDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryDao</servlet-name>
        <url-pattern>/CategoryDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerDao</servlet-name>
        <url-pattern>/CustomerDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDao</servlet-name>
        <url-pattern>/AdminDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopkeeperController</servlet-name>
        <url-pattern>/ShopkeeperController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
